<div class="nav-tabs-custom">
  <!-- Tabs within a box -->
  <ul class="nav nav-tabs pull-right">
    <li class="">
      <a href="#track-map" data-toggle="tab" aria-expanded="false">
        <i class="fa fa-map-marker"></i>地图
        <small class="label pull-right bg-green" id="trackCount">{{ trackCount }}
          <i class="fa fa-remove link" title="清除" (click)="clearTrackMap($event)"></i>
        </small>
      </a>
    </li>
    <!--<li class=""><a [routerLink]="['chart']" data-toggle="tab" aria-expanded="false"><i class="fa fa-bar-chart"></i>图表</a></li>-->
    <li class="active"><a href="#track-list" data-toggle="tab" aria-expanded="true"><i class="fa fa-list-alt"></i>列表</a></li>
    <!--<li class="pull-left header"><i class="fa fa-inbox"></i> Sales</li>-->
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="track-list">
      <app-track-list></app-track-list>
    </div>
    <div  role="tabpanel" class="tab-pane fade" id="track-map">
      <app-track-map></app-track-map>
    </div>
  </div>
</div>


