<div>
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
        <label class="sr-only" for="trackName">轨迹名称</label>
        <div class="input-group">
          <div class="input-group-addon">轨迹名称</div>
          <input type="text" class="form-control input-sm" id="trackName" placeholder="">
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label class="sr-only" for="userName">记录人</label>
        <div class="input-group">
          <div class="input-group-addon">记录人</div>
          <input type="text" class="form-control input-sm" id="userName" placeholder="">
          <span class="add-on"><i class="icon-th"></i></span>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <app-datetime-range></app-datetime-range>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12"></div>
    <!--<div class="col-sm-3">-->
    <!--<div class="form-group">-->
    <!--<label class="sr-only" for="trackName">轨迹名称</label>-->
    <!--<div class="input-group">-->
    <!--<div class="input-group-addon">轨迹名称</div>-->
    <!--<input type="text" class="form-control" id="trackName" placeholder="">-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-sm-3">-->
    <!--<div class="form-group">-->
    <!--<label class="sr-only" for="userName">记录人</label>-->
    <!--<div class="input-group">-->
    <!--<div class="input-group-addon">记录人</div>-->
    <!--<input type="text" class="form-control" id="userName" placeholder="">-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-sm-3">-->
    <!--<div class="form-group">-->
    <!--<label class="sr-only" for="trackName">轨迹名称</label>-->
    <!--<div class="input-group">-->
    <!--<div class="input-group-addon">轨迹名称</div>-->
    <!--<input type="text" class="form-control" id="trackName" placeholder="">-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-sm-3">-->
    <!--<div class="form-group">-->
    <!--<label class="sr-only" for="userName">记录人</label>-->
    <!--<div class="input-group">-->
    <!--<div class="input-group-addon">记录人</div>-->
    <!--<input type="text" class="form-control" id="userName" placeholder="">-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
  </div>
  <button class="btn btn-primary btn-sm pull-right track-search hide" (click)="search()">搜索</button>
  <div class="btn-group hide track-functions margin-r-5" role="group" aria-label="">
    <button type="button" class="btn btn-default btn-sm" (click)="selectAll()">全选</button>
    <button type="button" class="btn btn-default btn-sm" (click)="unSelect()">反选</button>
    <button type="button" class="btn btn-default btn-sm" (click)="clear()">重置</button>
  </div>
</div>
<table id="{{trackTableId}}" class="table table-bordered table-hover table-condensed table-striped table-responsive dataTable">
</table>

