<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar" >
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">{{menuTitle}}</li>
      <ng-container *ngTemplateOutlet="menuItemTemplate; context: {$implicit: menuItems}">
      </ng-container>
    </ul>
  </section>
</aside>

<ng-template #menuItemTemplate let-menuItems>
  <ng-container *ngFor="let menuItem of menuItems">
    <ng-container  *ngIf="!menuItem.subMenuItems">
      <li [ngClass]="{'active': menuItem.link === currentUrl}">
        <a [routerLink]="[menuItem.link]" >
          <i class="fa" [ngClass]="menuItem.icon ? 'fa-' + menuItem.icon : 'fa-circle-o'"></i>
          <span>{{menuItem.title}}</span>
        </a>
      </li>
    </ng-container>
    <ng-container *ngIf="menuItem.subMenuItems">
      <li class="treeview">
        <a class="link">
          <i class="fa" [ngClass]="menuItem.icon ? 'fa-' + menuItem.icon : 'fa-folder'"></i>
          <span>{{menuItem.title}}</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <ng-container *ngTemplateOutlet="menuItemTemplate; context: {$implicit: menuItem.subMenuItems}"></ng-container>
        </ul>
      </li>
    </ng-container>
  </ng-container>
</ng-template>
